* {
    box-sizing: border-box;
    /* background: rgb(0, 100, 0, .1); */
    outline: 1px solid limegreen !important;
}
.navigation{
    position: fixed;
    height: 100%;
    width: 260px;
    background-color: rgb(85, 169, 149);
    transition: all 1s;
    overflow: auto;
  }
  .welcome{
    background-color: aqua;
    display: grid;
    height: 100px;
    /* line-height: 35px; */
    font-weight: 700;
    place-items: center;
    font-size: 1.5rem;
    width: 260px;
  }
  ul{
    padding: 0;
  }
  ul li{
    margin: 10px 0;
    list-style: none;
  }
  ul li:active,  
  ul li:hover{
    /* padding: 10px 15px; */
    background-color: rgb(62, 87, 79);
    transition: all 1s;
  }
  ul li .links{
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 10px 15px;
    margin: 10px 10px;
    border-radius: 6px;
  }
  ul li .links:hover :active{
    background-color: white;
    color: black;
    transition: all 1s;
  }