/* * {
    box-sizing: border-box;
    background: rgb(0, 100, 0, .1);
    outline: 1px solid limegreen !important;
} */
.navigation{
    position: fixed;
    height: 100%;
    width: 260px;
    background-color: rgb(85, 169, 149);
    transition: all 1s;
    overflow: auto;
  }
  .welcome{
    background-color: aqua;
    display: grid;
    height: 100px;
    font-weight: 700;
    place-items: center;
    font-size: 1.5rem;
    width: 260px;
  }
  ul{
    padding: 0;
  }
  ul li{
    margin: 10px 0;
    list-style: none;
  }
  ul li .links{
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    margin: 10px 10px;
    border-radius: 6px;
    place-items: center;
  }
  .links{
    display: flex;

  }
  ul li svg{
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  ul li .links:hover{
    padding: 20px 25px;
    background-color: rgb(85, 99, 226);;
    color: white;
    transition: all .5s;
  }
