.food_container {
    position: relative;
    margin: 20px;
    height: 100%;
  }
.dish_name {
  justify-content: center;
  
}
  .button {
    padding: 0;
    border: 0;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, 0.14);
    width: 100%;
    font-size: 40px;
    height: 5rem;
    transition: all .5s;
  }
  .button:hover{
    box-shadow: none;
  }

  .dropdown {
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background-color: rgb(130, 207, 207);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    border-radius: 0px 0px 20px 20px;
  }

  .button:hover {
    background-color: gray;
    transition: all 1s;
  }