.bg{
  /* The image used */
   background-color: #5B7168;

  /* Full height */
    height: 100%;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}